@model IEnumerable<ApartmentManagementSystem.Models.CommonBill>

@{
    ViewData["Title"] = "Common Bills";
}

<h1>Common Bills</h1>
<hr />
<p>
    <a asp-action="Create" asp-route-buildingId="@ViewData["BuildingId"]">Create New Bill</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <a asp-controller="ExpenseAllocation" asp-action="Index" asp-route-commonBillId="@item.Id">View Allocations</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>